body{
    font-family: Arial,sans-serif;
    text-align: center;
}

#colorBox{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;

}

#copyCode{
    padding:10px;
    background-color: rgba(8, 163, 8, 0.977);
    cursor: pointer;
}

#copyCode:hover{
    background-color: rgba(8, 163, 8, 0.685);

}

